<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap-4.0.0\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="grid.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Three.JS</title>
</head>

<body>
    <form method='post'>
        <div class="div1"
            style=" overflow: hidden;;width: 79vw;background-color:darkslategray;margin: 5% 9%;color: white;">
            <div class="div2"><a style="color: white;text-align: center;">
                    <h2>Hello Abdullah</h2>
                </a></div>
            <div class="div3 "><a style="text-align: center;color: white;">
                    <h4>(Enter New Records)</h4>
                </a> </div>
            <!-- <div class="div4"><a>New User</a></div> -->
            <div id='info-box' style="position: relative;top: 20px;">
                <div class="div5" style="position:relative;left: 5%;">Name:<input style="width: 40%;" name='fname'
                        placeholder="Name" class="form-control"></div>
                <div class="div7" style="position: relative;left: 54%;top:-55px;">Age:<input style="width: 40%;"
                        name='age' type="number" placeholder="Age" class="form-control"></div>
                <div class="div8" style="position:relative;top: -20px;left: 5%;">Phone no:<input style="width: 40%;"
                        name='number' placeholder="Phone NO" class="form-control"></div>
                <div class="div8" style="position:relative;top: -75px;left: 54%;">Universty:<input style="width: 40%;"
                        name='uni' placeholder="Universty" class="form-control"></div>
                <div class="div9" style="position:relative;top: -45px;left: 30%;">Email:<input style="width: 40%;"
                        name='email' placeholder="Email" class="form-control"></div>
                <tr></tr>

                <br />

                <a><button style="position: relative;left: 45%;width: 10%;height: 10%;top: -40px;color: teal;"
                        class="btn btn-dark" id="submit" type="submit">Add Record</button>
                </a>
                <a href="/" style="position: relative;top: -18px;left: 850px;height: 10%;width: 20%;font-size: 1.2em;color: white;">Go to Records</a>
            </div>
        </div>
        </div>
    </form>



</body>

</html>